*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.largura-definida{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
}
html,body{
    height: 100%;
}
body{
    background: linear-gradient(to right, #29194C, #571C85, #28194A);
    height: auto;
}
.main{
    
    .largura-definida h1{
        color: white;
        text-align: center;
        font-size: 3.5em;
        font-weight: bold;
        margin-top: 12rem;
    }
    .largura-definida > p{
        color: rgba(255, 255, 255, 0.637);
        text-align: center;
        font-size: 2em;
    }
    .main_container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 4rem;
        .main_container_content{
            border: 2px solid rgba(255, 255, 255, 0.603);
            flex: 1 1 calc(100% / 3 - 2rem);
            border-radius: 2rem;
            padding: 2rem;
            background-color: #55317A;
            text-align: center;
            transition: all 0.3s ease-in;
        }
        .main_container_content:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.61);
        }
        .main_container_content img{
            margin: 0 auto;
        }
        .main_container_content h2{
            font-size: 2.3em;
            color: white;
            font-weight: bold;
            margin: 1rem 0;
        }
        .main_container_content p{
            color: rgba(255, 255, 255, 0.637);
            font-size: 1.8em;
        }
    }

}